.card {
    max-width: 20rem;
    min-height: 31.25rem;
    background: var(--white);
    padding: 1rem;
    border-radius: var(--border-radius);
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0,0,0,.1);
    img {
        max-width: 100%;
        border-radius: var(--border-radius);
    }
    h1 {
        margin-top: 1rem;
        color: var(--dark-blue);
        font-size: 1.36rem;
    }
    p {
        color: var(--grayish-blue);
        font-size: 1.1rem;
        padding: 1rem .2rem;
    }
}